<div class="row ">
  <div class="dropdown">
    <button class="btn btn-secondary m-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <b>Niveau1</b>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="row niv ">
        <div class="col-5 ml-2">
          <h5>Groupes d'actions à réaliser</h5>
          <p>
            A partir d'un schéma physique
            de données et dans le contexte
            d'un besoin client décrit, créer
            une base de données sur un
            SGBD désigné.
          </p>
        </div>
        <div class="col-5">
          <h5>Critères d'évaluation</h5>
          <p>La BD est créée à l'aide d'un
            script sans erreur et les
            données sont insérées à l'aide
            d'un script sans erreur
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary m-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <b>Niveau2</b>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="row niv ">
        <div class="col-5 ml-2">
          <h5>Groupes d'actions à réaliser</h5>
          <p>
            A partir d'un schéma physique
            de données et dans le contexte
            d'un besoin client décrit, créer
            une base de données sur un
            SGBD désigné.
          </p>
        </div>
        <div class="col-5">
          <h5>Critères d'évaluation</h5>
          <p>La BD est créée à l'aide d'un
            script sans erreur et les
            données sont insérées à l'aide
            d'un script sans erreur
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary m-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <b>Niveau3</b>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="row niv ">
        <div class="col-5 ml-2">
          <h5>Groupes d'actions à réaliser</h5>
          <p>
            A partir d'un schéma physique
            de données et dans le contexte
            d'un besoin client décrit, créer
            une base de données sur un
            SGBD désigné.
          </p>
        </div>
        <div class="col-5">
          <h5>Critères d'évaluation</h5>
          <p>La BD est créée à l'aide d'un
            script sans erreur et les
            données sont insérées à l'aide
            d'un script sans erreur
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
