<form action="">
  <div class="card m-3 text-center">
    <div class="card-header">

      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item m-2">
          <a class="nav-link active">Level 1</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link active">Level 2</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link active">Level 3</a>
        </li>
      </ul>

    </div>
    <div class="card-body row">
      <div class="col-6">
        <h3>Criteres Evaluations</h3>
        <textarea class="form-control" placeholder="Critères d'admission" rows="21" id="textArea">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit
          quisquam veniam excepturi temporibus inventore corporis
          dicta sit culpa veritatis placeat earum
        </textarea>
      </div>

      <div class="col-6">
        <h3>Groupes Actions</h3>
        <textarea class="form-control" placeholder="Critères d'admission" rows="21" id="textArea">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit
          quisquam veniam excepturi temporibus inventore corporis
          dicta sit culpa veritatis placeat earum
        </textarea>
      </div>
    </div>
  </div>

</form>
