<div class="row m-2">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Liste profil de sortie</h1>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Libellé</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pfs of profilSortie | paginate:{
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: items}" >
      <td>{{pfs.libelle}}</td>
      <td>
        <div class="row">
          <a class="add" title="Add" data-toggle="tooltip">
            <i class="material-icons">&#xE03B;</i></a>
          <a class="col-md-2 edit" title="Edit"  data-toggle="tooltip" data-placement="top" title="Modifier">
            <i class="fa text-primary fa-edit"></i>
          </a>
          <a class="col-md-2 delete" title="Delete"   data-toggle="tooltip" data-placement="top" title="Supprimer">
            <i class="fa text-danger fa-user-times"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-10 m-4 bg-light ml- float-right">
    <pagination-controls class="pagination" (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
