<div class="row m-2">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Liste des Compétences</h1>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row col-12">

<div class="m-1 col-4">
  <div class="mt-2">
    <table class="table">
      <thead>
        <select #grpCompetences (click)="getGrpSkillToDetails(grpCompetences.value)" class="form-control" scope="col position-fixed mb-2">
          <option value="{{grpSkills.id}}" *ngFor="let grpSkills of groupeCompetence">{{grpSkills.libelle}}</option>
        </select>
      </thead>
      <tbody class="list-group">
      <tr class="m-3" *ngFor="let skill of skills">
        <td type="button" routerLink="details-competence" (click)="sendSkillToDetails(skill)"  class="list-group-item form-control btn-outline-success mb-2">{{skill.libelle}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
  </div>
</div>
<div class="col-6">
  <router-outlet></router-outlet>
</div>
</div>
