<form class="form-horizontal" [formGroup]="addComp">
  <fieldset>
    <legend>Compétences</legend>

    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Groupe de compétences</label>
      <div class="col-lg-10">
        <select class="custom-select form-control" formControlName="groupe" required id="exampleFormControlSelect1">
          <option value="{{groupeCompetence.id}}" *ngFor="let groupeCompetence of groupeComp">{{groupeCompetence.libelle}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputText" class="col-lg-1 float-left p-3">libellé</label>
      <div class="col-lg-10">
        <input type="text" formControlName="libelle" class="form-control" id="inputText" placeholder="libellé" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputText" class="col-lg-1 float-left p-3">Descriptif</label>
      <div class="col-lg-10">
        <input type="text" formControlName="descriptif" class="form-control" id="inputText" placeholder="libellé" required>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-1 float-left p-3">Niveaux</label>
      <div class="col-lg-10" formArrayName="niveau">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngFor="let niv of _niveaux.controls; let i = index" [formGroupName]="i">
            <a class="nav-link" data-toggle="tab" href="#niv{{i+1}}">Niveau {{i+1}}</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content" *ngFor="let niv of _niveaux.controls; let i = index" [formGroupName]="i">
          <div class="tab-pane fade show mt-3 float-left" id="niv{{i+1}}">
              <table>
                <tr>
                  <th>
                    Groupe d'actions à réaliser
                  </th>
                  <th>
                    Critères d'évaluation
                  </th>
                </tr>
                <tr>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light"></textarea>
                  </td>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light "></textarea>
                  </td>
                </tr>
              </table>
          </div>

          <div class="tab-pane fade show float-left" id="niv2">
              <table>
                <tr>
                  <th>
                    Groupe d'actions à réaliser
                  </th>
                  <th>
                    Critères d'évaluation
                  </th>
                </tr>
                <tr>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light"></textarea>
                  </td>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light "></textarea>
                  </td>
                </tr>
              </table>
          </div>
          <div class="tab-pane fade show mb-5 b-200 float-left" id="niv3">
            <div>
              <table>
                <tr>
                  <th>
                    Groupe d'actions à réaliser
                  </th>
                  <th>
                    Critères d'évaluation
                  </th>
                </tr>
                <tr>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light"></textarea>
                  </td>
                  <td>
                    <textarea name="" id="" cols="75" rows="10" class="bg-light "></textarea>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-9 envoi col-lg-offset-2">
        <input class="btn btn-danger float-right ml-2" type="reset" value="Reset">
        <input type="submit" class="btn btn-warning float-right" value="Submit">
      </div>
    </div>
  </fieldset>
</form>
