<nav class="navbar col-12 bg font-weight-bold navbar-expand-lg ">
  <a class="navbar-brand" routerLink="/connexion">Sonatel Academy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class=" mr-auto mt-2 mt-lg-0">
    </ul>

      <ul>
        <li><a routerLink="connexion"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>

  </div>
</nav>
