<div class="row m-2">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Liste des utilisateurs</h1>
  </div>
  <div class="col-md-4">
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Profil</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src='https://source.unsplash.com/30x30/?person' width="35" class="mr-3 rounded-circle img-thumbnail shadow-sm">  </th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <div class="row">
        <a routerLink="/admin/user/details-user" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Détails">
          <i class="fa fa-info-circle text-dark"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Modifier">
          <i class="fa text-dark fa-edit"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fa text-dark fa-user-times"></i>
        </a>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row"><img src='https://source.unsplash.com/30x30/?person' width="35" class="mr-3 rounded-circle img-thumbnail shadow-sm"></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <div class="row">
        <a routerLink="/admin/user/details-user" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Détails">
          <i class="fa fa-info-circle text-dark"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Modifier">
          <i class="fa text-dark fa-edit"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fa text-dark fa-user-times"></i>
        </a>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row"><img src='https://source.unsplash.com/30x30/?person' width="35" class="mr-3 rounded-circle img-thumbnail shadow-sm"></th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>
        <div class="row">
        <a routerLink="/admin/user/details-user" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Détails">
          <i class="fa fa-info-circle text-dark"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Modifier">
          <i class="fa text-dark fa-edit"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fa text-dark fa-user-times"></i>
        </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
