<div class="row m-2">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Liste des utilisateurs</h1>
  </div>
  <div class="col-md-4">
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Profil</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let us of user | paginate:{
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: items}">
      <td ><img src="{{'data:image/jpg;base64,'+us.avatar}}" alt="avatar" width="45" class="mr-3 rounded-circle img-thumbnail shadow-sm"></td>
      <td >{{us.prenom}}</td>
      <td >{{us.nom}}</td>
      <td >{{us.profil.libelle}}</td>
      <td>
        <div class="row">
        <a routerLink="/admin/user/details-user" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Détails">
          <i class="fa fa-info-circle text-warning"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Modifier">
          <i class="fa text-primary fa-edit"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fa text-danger fa-user-times"></i>
        </a>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
  <div class="row">
    <div class="col-10 m-4 bg-light ml- float-right">
      <pagination-controls class="pagination" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
