<form class="form-horizontal">
  <fieldset>
    <legend>Groupe de compétences</legend>
    <div class="form-group mt-4">
      <label for="inputText" class="col-lg-2 control-label">libellé</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputText" placeholder="libellé">
      </div>
    </div>
    <div class="form-group mt-4">
      <label for="textArea" class="col-lg-2 control-label">Descriptif</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group mt-4">
      <label for="select" class="col-lg-2 control-label">Compétences</label>
      <div class="col-lg-10">
        <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" >
        <label class="btn btn-success" for="btn-check">Créer une base de données </label>

        <input type="checkbox" class="btn-check ml-5" id="btn-check2"  autocomplete="off" >
        <label class="btn btn-success" for="btn-check2">Développer les composants d'accés aux données</label>
      </div>
    </div>
    <div class="form-group mt-4 ">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
