<form class="form-horizontal">
  <fieldset>
    <legend>Groupe de compétences</legend>
    <div class="form-group">
      <label for="inputText" class="col-lg-1 float-left p-3">libellé</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputText" placeholder="libellé">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Descriptif</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" placeholder="Descriptif"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-1 float-left p-3">Competences</label>
      <div class="col-lg-9">
        <select class="selectpicker" multiple data-actions-box="true">
          <option>Français</option>
          <option>Anglais</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-9 col-lg-offset-2">
        <input class="btn btn-danger float-right ml-2" type="reset" value="Reset">
        <button type="submit" class="btn btn-warning float-right">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
