
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.vertical-nav {
  height: 100vh;
  position: unset;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}


.dropdown > a:hover, li > a:hover, .dropdown-menu > a:hover, .dropdown-item{
  background-color: #067b6f;
}
i{
  color: orange;

}
/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/




.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
