<div class="row">

<!-- Vertical navbar -->
<div class="vertical-nav bg-white col-xs-12 col-sm-4 col-md-4 col-lg-4" id="sidebar">
  <div class="py-4 px-3 mb-4">
    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Jason Doe</h4>
        <p class="font-weight-light text-muted mb-0">Admin</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle text-dark font-italic" data-toggle="dropdown" aria-haspopup="true">
          <i class="fa fa-cog mr-3 "></i>
          Parametres
        </a>
        <div class="dropdown-menu">
          <a  class="dropdown-item  font-italic ">Promos</a>
          <a  class="dropdown-item text-dark font-italic ">Référentiels</a>
          <a routerLink="competences" class="dropdown-item text-dark font-italic ">Compétences</a>
          <a routerLink="groupe-competences" class="dropdown-item text-dark font-italic ">Groupe de compétences</a>
          <a class="dropdown-item text-dark font-italic ">groupe de tags</a>
          <a routerLink="profil-sortie" class="dropdown-item text-dark font-italic ">Profil de sortie</a>

        </div>
      </div>
    </li>

    <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle text-dark font-italic" data-toggle="dropdown" aria-haspopup="true">
          <i class="fa fa-address-book mr-3 "></i>
          Users
        </a>
        <div class="dropdown-menu">
          <a routerLink="user" class="dropdown-item font-italic ">Utilisateurs</a>
          <a routerLink="list-profil" class="dropdown-item font-italic ">Profils</a>

        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3  fa-fw"></i>
                Services
            </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3  fa-fw"></i>
                Historique des promos
            </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3  fa-fw"></i>
                Profil
            </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-bar-chart mr-3  fa-fw"></i>
                Notifs
            </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-pie-chart mr-3  fa-fw"></i>
                Pie charts
            </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark font-italic">
                <i class="fa fa-line-chart mr-3  fa-fw"></i>
                Line charts
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5 col-xs-12 ccol-sm-8 col-sm-8 col-sm-8" id="content">
  <router-outlet></router-outlet>
</div>
<!-- End demo content -->

</div>
