<div class="row m-2">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Liste des profils</h1>
  </div>
  <div class="col-md-4">
  </div>
</div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Libellé</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pf of profil | paginate:{
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: items}">
      <td>{{pf.libelle}}</td>
      <td>
        <div class="row">
        <a routerLink="/admin/user/details-user" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Détails">
          <i class="fa fa-info-circle text-warning"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Modifier">
          <i class="fa text-primary fa-edit"></i>
        </a>
        <a href="http://" class="col-md-2"  rel="noopener noreferrer" data-toggle="tooltip" data-placement="top" title="Supprimer">
          <i class="fa text-danger fa-user-times"></i>
        </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-10 m-4 bg-light ml- float-right">
    <pagination-controls class="pagination" (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>
