<div class="container-fluid">
  <div class="row ">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>


      <!-- The content half -->
      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <!-- Demo content-->
              <div class="container ">
                  <div class="row connexion">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <h1 class="display-4">Connexion</h1>
                          <form novalidate [formGroup]="signin" (ngSubmit)="seConnecter()">
                              <div class="form-group mb-3">
                                <p [ngClass]="{ 'has-error': isSubmit}">
                                  <input id="username" required formControlName="username"
                                   type="text" placeholder="Username" required="" autofocus=""
                                   class="form-control rounded-pill border-0 shadow-sm px-4">
                                </p>
                                <div *ngIf="isSubmit && formControls.username.errors" class="login_error help-block alert alert-danger rounded-pill">
                                  <div *ngIf="formControls.username.errors.required">
                                      <h3>Le login est obligatoire</h3>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group mb-3">
                                <p [ngClass]="{ 'has-error': isSubmit && formControls.password.errors }">
                                  <input id="inputPassword" type="password" placeholder="Password" required formControlName="password"
                                    class="form-control rounded-pill border-0 shadow-sm px-4">
                                </p>
                                <div *ngIf="isSubmit && formControls.password.errors" class="alert alert-danger rounded-pill">
                                  <div *ngIf="formControls.password.errors.required">
                                      <h3>Le mot de passe est obligatoire</h3>
                                  </div>
                              </div>
                              </div>
                              <button type="submit" class="btn btn-color btn-block mb-2 rounded-pill shadow-sm">Se Connecter</button>

                          </form>

                          <div *ngIf="message" class="login_error h3 alert alert-danger text-center m-4 rounded-pill">
                            {{ message }}
                          </div>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->

  </div>
</div>
