<form class="form-horizontal">
  <fieldset>
    <legend>Rérérentiels</legend>
    <div class="form-group">
      <label for="inputText" class="col-lg-1 float-left p-3">libellé</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputText" placeholder="libellé">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Présentation</label>
      <div class="col-lg-10">
        <textarea class="form-control" placeholder="Présentation" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Competences</label>
      <div class="col-lg-10">
        <textarea class="form-control" placeholder="Competences" rows="3" id="textArea"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Programme</label>
      <div class="col-lg-10">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label bg-dark" for="inputGroupFile01">Uploader le programme</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Critères d'évaluation</label>
      <div class="col-lg-10">
        <textarea class="form-control" placeholder="Critères d'évaluation" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 float-left p-3">Critères d'admission</label>
      <div class="col-lg-10">
        <textarea class="form-control" placeholder="Critères d'admission" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-9 col-lg-offset-2">
        <input class="btn btn-danger float-right ml-2" type="reset" value="Reset">
        <button type="submit" class="btn btn-warning float-right">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
