<!--
<h1>User Form</h1>
<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form class="cf" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="half left cf">
    <input type="text" class="form-control" id="input-name" placeholder="Nom" formControlName="nom">
    <input type="text" class="form-control" id="input-name" placeholder="Prénom" formControlName="prenom">
    <input type="email" id="input-email" class="form-control" placeholder="Email address" formControlName="email">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    <input type="text" id="input-name" class="form-control" placeholder="Username" formControlName="username">
    <input type="password" id="input-name" class="form-control" placeholder="Mot de passe" formControlName="password">
    <select name="role" id="role" class="form-control" formControlName="role" placeholder="Profil">
      <option active>Profil</option>
      <option value="{{profil.libelle}}" *ngFor="let profil of profile">{{profil.libelle}}</option>
    </select>
  </div>
  <div class="half right cf">Avatar
    <div class="mr-3 rounded-circle img-thumbnail shadow-md avatar">

    <input class="opa" type="file" formControlName="avatar" (change)="uploadFile($event )">
    </div>
  </div>
  <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
  </button>
    <input type="reset" value="Reset" class="bg-danger rounded-pill text-light"  id="input-reset">
</form>
-->
<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-5">
            <label>Prénoms</label>
            <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"/>
            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                <div *ngIf="f.prenom.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Nom</label>
            <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-group col-6">
          <label>Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div>
        <div class="form-group col-6">
            <label>Role</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
              <option value="{{profil.libelle}}" *ngFor="let profil of profile">{{profil.libelle}}</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
        <div class="form-group col-6">
          <div class="half right cf">
            <label>Avatar</label>
            <input class="opa" type="file" formControlName="avatar" (change)="uploadFile($event )" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
            <div class="image">
              <img id="blah" class="rounded-circle img-thumbnail avatar" alt="">
            </div>
          </div>

        </div>
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Change Password</h3>
        <p>Leave blank to keep the same password</p>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <button type="reset" class="btn btn-link">Cancel</button>
    </div>
</form>
